body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dark mode default */
    color: #fff; /* Text color for dark mode */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    padding: 20px;
}

video {
    width: 100%;
    max-width: 730px;
    margin-top: 20px;
    border-radius: 10px;
}

textarea {
    width: 80%;
    max-width: 600px;
    height: 50px;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #777;
    background-color: #666;
    color: white;
    transition: border 0.3s ease;
}

textarea:focus {
    border-color: #007BFF;
    outline: none;
}

textarea::placeholder {
    color: #aaa;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="range"] {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
    display: none; /* Hide the slider */
}

.status {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    transition: opacity 1s ease-in-out;
}

.error {
    color: red;
}

.success {
    color: green;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
}

body {
    background-color: #333;
    color: #fff;
}

button {
    background-color: #555;
}

button:hover {
    background-color: #777;
}

input[type="range"] {
    background-color: #666;
}

@media (max-width: 768px) {
    textarea {
        width: 90%;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    video {
        max-width: 100%;
    }

    .status {
        font-size: 14px;
    }
}
